*.txt filter=lfs diff=lfs merge=lfs -text
*.txt.trainables.syn1neg.npy filter=lfs diff=lfs merge=lfs -text
*.txt.wv.vectors.npy filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
