<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971868578376-r7ruilcl81k093m4qh9bg24hah94u3cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971868578376-r7ruilcl81k093m4qh9bg24hah94u3cn</string>
	<key>API_KEY</key>
	<string>AIzaSyBRyC7RDpPC5UuEe3HLI42fNO9N7qzyCHw</string>
	<key>GCM_SENDER_ID</key>
	<string>971868578376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RJBascos.Beyond</string>
	<key>PROJECT_ID</key>
	<string>beyond-ac1f8</string>
	<key>STORAGE_BUCKET</key>
	<string>beyond-ac1f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971868578376:ios:1dabdcea446c53c5ac6e7d</string>
	<key>DATABASE_URL</key>
	<string>https://beyond-ac1f8.firebaseio.com</string>
</dict>
</plist>